<%- include('header.ejs') %>
<main>
  <div class="form-container">

    <% if (locals.currentUser) { %>
      <h2 class="title">Welcome back <%= currentUser.username %></h1>
      <a href="/logout">Log out</a>
    <% } else { %>

      <form action="/login" method="POST" class="input-validation-required">
        <h2 class="title">Log in</h2>
        <p>Don't have an account yet? <a href="/sign-up">Sign up</a></p>

        <div class="input-container">
          <sl-input
            name="username"
            label="Username"
            required
            autofocus
          ></sl-input>
          <p class="error-icon"><img src="/icons/error.svg" alt="error icon" /></p>
          <span class="error">Error message</span>
        </div>
        <br />
        <div class="input-container">
          <label for="password" class="label">Password <span class="red">*</span></label>
          <sl-input
            type="password"
            name="password"
            required
          ></sl-input>
          <p class="error-icon"><img src="/icons/error.svg" alt="error icon" /></p>
          <span class="error" %>Error message</span>
        </div>
        <br />
        <!-- <input type="submit" class="submitBtn" value="Log in" /> -->
        <sl-button type="submit">Log in</sl-button>
        <div class="authentication-error">
        <span class="<%= locals.errors ? "error active" : "error" %>"><%= locals.errors %></span>
      </form>
    </div>

  <% } %>
</main>
<%- include('footer.ejs') %>