<%- include('header') -%>
<div class="layout">
  <aside class="layout-sidebar">
    <nav>
      <ul>
        <% if (!locals.type || locals.type === 'FOLDER') { %>
          <li>
            <sl-dialog label="New Folder" class="dialog-focus new-folder-dialog">
              <form action="/new" method="post">
                <input type="hidden" name="parentId" value="<%= locals.id || null %>"></input>
                <sl-input name="name" label="Name" autofocus placeholder=""></sl-input>
                </br>
                <sl-button type="submit" slot="footer" variant="primary">Create Folder</sl-button>
              </form>
            </sl-dialog>
            <sl-button class="card-btn">
              <sl-icon class="card-icon" name="folder-plus"></sl-icon><span>New Folder</span>
            </sl-button>
          </li>
          <li>
            <sl-dialog label="New File" class="dialog-focus new-file-dialog">
              <form action="/upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                  <input type="file" name="uploaded_file"></input>
                  <input type="hidden" name="path" value="<%= locals?.path %>"></input>
                  </br>
                  <sl-button type="submit" slot="footer" variant="primary">Upload</sl-button>
                </div>
              </form>
            </sl-dialog>
            <sl-button class="card-btn">
              <sl-icon class="card-icon" name="file-earmark-plus"></sl-icon><span>New File</span>
            </sl-button>
          </li>
        <% } else { %>
          <!-- Not a folder -->
        <% } %>
      </ul>
    </nav>
    </br>
    <sl-tree>
      <sl-tree-item expanded <%= locals.id === null && "selected" %>><a href="/"><%= currentUser.username %></a>
        <% function renderTree(items) { %>
          <% items.forEach(item => { %>
            <sl-tree-item 
              <%= item.id === locals.id && "selected" %> 
              <%= locals.pathSegments && locals.pathSegments.includes(item.name) && "expanded" %>
            >
              <a href="/<%= item.id %>"><%= item.name %></a>
              <% if (item.childEntities && item.childEntities.length > 0) { %>
                <%= renderTree(item.childEntities) %>
              <% } %>
            </sl-tree-item>
          <% }); %>
        <% } %>
        <%= renderTree(locals.folders) %>
      </sl-tree-item>
    </sl-tree>
  </aside>
  <main class="layout-main">
    <% if (locals.currentUser) { %>
      <% console.dir(locals.pathSegments) %>
      <!-- <h2 class="title">Welcome back <%= currentUser.username %></h2> -->
      <div class="breadcrumb-container">
        <sl-breadcrumb>
          <sl-breadcrumb-item href="/"><%= `${currentUser.username}` %></sl-breadcrumb-item>
          <% if (locals?.pathSegments?.length > 0) { %>
            <% locals.pathSegments.forEach((segment) => { %>
              <sl-breadcrumb-item href="<%= segment.id %>"><%= segment.name %></sl-breadcrumb-item>
            <% }) %>
          <% } %>
        </sl-breadcrumb>
      </div>
      <br />
      <div class='grid-container'>
        <div class="grid-row grid-header">
          <div class="grid-col">Name</div>
          <div class="grid-col">Size</div>
          <div class="grid-col">Created</div>
        </div>
        <sl-drawer label="Drawer" class="drawer-overview">
          <div class="drawer-content"></div>
            <sl-button slot="footer" type="submit" class="drawer-download-btn">Download File</sl-button>
          <sl-button slot="footer" variant="primary">Close</sl-button>
        </sl-drawer>
        <% for (var i = 0; i < files.length; i++) {
          let icon = files[i].type === 'FILE' ? 'file-earmark' : 'folder'; %>
          <button 
            <% if (files[i].type === 'FILE') { %>
              data-index="<%= i %>" 
            <% } else { %>
              onclick="window.location.href='/<%= files[i].id %>'" 
            <% } %>
            class="btn grid-row">
            <div class="grid-col col-name">
              <sl-icon class="col-name-icon" name="<%= icon %>"></sl-icon>
              <small><%= files[i].name %></small>
            </div>
            <small class="grid-col">
              <% if (files[i].size) { %>
                <sl-format-bytes value="<%= files[i].size %>"></sl-format-bytes>
              <% } else { %>
                --
              <% } %>
            </small>
            <small class="grid-col"><%= locals.helpers.formatDate(files[i].createdAt) %></small>
          </button>
        <% } %>
      </div>
    <% } else { %>
      <!-- Handle case when there is no currentUser -->
    <% } %>
  </main>
</div>
<script type="module">
  await Promise.allSettled([
    customElements.whenDefined('sl-button'),
    customElements.whenDefined('sl-drawer'),
    customElements.whenDefined('sl-dialog'),
  ])

  const files = <%- JSON.stringify(locals.files) %>
  const dialogs = document.querySelectorAll('.dialog-focus')
  for (const dialog of dialogs) {
    const openButton = dialog.nextElementSibling
    const closeButton = dialog.querySelector('sl-button[slot="footer"]')

    openButton.addEventListener('click', () => dialog.show())
    closeButton.addEventListener('click', () => dialog.hide())
  }
  // File info drawer
  const drawer = document.querySelector('.drawer-overview')
  const drawerContent = document.querySelector('.drawer-content')
  const openButtons = document.querySelectorAll('.btn.grid-row[data-index]')
  const downloadButton = drawer.querySelector('.drawer-download-btn')


  openButtons.forEach(button => {
    button.addEventListener('click', () => {
      const index = button.getAttribute('data-index')
      const file = files[index]
      const body = document.createElement('div')
      body.textContent = `File Name: ${file.name}`

      // Repopulate drawer with file info
      drawerContent.replaceChildren(body)
      console.log({file})
      downloadButton.href = `/download/${file.id}?name=${file.name}&mimeType=${file.mimeType}`

      // Show the drawer
      drawer.show()
    })
  })
  const closeButton = drawer.querySelector('sl-button[variant="primary"]')
  closeButton.addEventListener('click', () => drawer.hide())
  
</script>
<%- include('footer') -%>
