<script id="data-script" type="application/json">
  <%- JSON.stringify(files) %>
</script>

<%- include('partials/header') -%>

<div class="overlay">
  <div class="overlay__wrapper">
    <sl-spinner style="font-size: 2rem;"></sl-spinner>
  </div>
</div>

<% const alertDuration = 3000 %>

<% if (error) { %>
  <sl-alert id="error-alert" variant="warning" closable duration=<%= alertDuration %>>
    <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
    <%= error %>
  </sl-alert>
  <% } else if (success) { %>
    <sl-alert id="success-alert"variant="success" closable duration=<%= alertDuration %>>
      <sl-icon slot="icon" name="check2-circle"></sl-icon>
      <%= success %>
    </sl-alert>
    <% } %>
    
    <div class="layout">

      <%- include('partials/desktop-sidebar') -%>
      
  <main class="layout-main">
    <% if (locals.currentUser) { %>
      <!-- <h2 class="title">Welcome back <%= currentUser.username %></h2> -->
      <div class="breadcrumb-container">
        <sl-breadcrumb>
          <sl-breadcrumb-item href="/"><%= `${currentUser.username}` %></sl-breadcrumb-item>
          <% if (locals?.pathSegments?.length > 0) { %>
            <% locals.pathSegments.forEach((segment) => { %>
              <sl-breadcrumb-item href="<%= segment.id %>"><%= segment.name %></sl-breadcrumb-item>
            <% }) %>
          <% } %>
        </sl-breadcrumb>
      </div>
      <!-- <br /> -->
      <div class='grid-container'>
        <div class="grid-header">
          <a href="<%= locals.helpers.generateSortLink(sortQuery, 'name') %>">
            <div class="grid-header-col">
              <div class="grid-col">Name</div>
              <% if (sortQuery.name) { %>
                <sl-icon-button name="<%= sortQuery.name === 'desc' ? 'caret-down' : 'caret-up' %>" label="Sort by name"></sl-icon-button>
              <% } %>
            </div>
          </a>
          <a href="<%= locals.helpers.generateSortLink(sortQuery, 'size') %>">
            <div class="grid-header-col">
              <div class="grid-col">Size</div>
              <% if (sortQuery.size) { %>
                <sl-icon-button name="<%= sortQuery.size === 'desc' ? 'caret-down' : 'caret-up' %>" label="Sort by size"></sl-icon-button>
              <% } %>
            </div>
          </a>
          <a href="<%= locals.helpers.generateSortLink(sortQuery, 'createdAt') %>">
            <div class="grid-header-col">
              <div class="grid-col">Created</div>
              <% if (sortQuery.createdAt) { %>
                <sl-icon-button name="<%= sortQuery.createdAt === 'desc' ? 'caret-down' : 'caret-up' %>" label="Sort by date created"></sl-icon-button>
              <% } %>
            </div>
          </a>
        </div>
        <sl-drawer label="File Information" class="drawer-overview">
          <div class="drawer-content"></div>
          <div class="btn-group" slot="footer">
            <sl-button class="drawer-close-btn">Close</sl-button>
            <sl-button class="drawer-share-btn">Share</sl-button>
            <form action="" class="delete-file-form" method="POST">
              <input type="hidden" name="type" value="FILE"></input>
              <input type="hidden" name="parentId" value="<%= id %>"></input>
              <sl-button type="submit" class="delete-file-btn">Delete</sl-button>
            </form>
            <sl-button variant="primary" class="drawer-download-btn">Download</sl-button>
          </div>
        </sl-drawer>

        <% if (files.length === 0) { %>
        <div class="grid-body">
          Create a folder to get started
        </div>
      <% } %>

        <% for (var i = 0; i < files.length; i++) {
          let icon = files[i].type === 'FILE' ? 'file-earmark' : 'folder'; %>
          <button 
            <% if (files[i].type === 'FILE') { %>
              data-index="<%= i %>" 
            <% } else { %>
              onclick="window.location.href='/<%= files[i].id %>'" 
            <% } %>
            class="btn grid-row">
            <div class="grid-col col-name">
              <sl-icon class="col-name-icon" name="<%= icon %>"></sl-icon>
              <small><%= files[i].name %></small>
            </div>
            <small class="grid-col">
              <% if (files[i].size) { %>
                <sl-format-bytes value="<%= files[i].size %>"></sl-format-bytes>
              <% } else { %>
                --
              <% } %>
            </small>
            <small class="grid-col"><%= locals.helpers.formatDate(files[i].createdAt) %></small>
          </button>
        <% } %>
      </div>
      <sl-dialog label="New Folder" class="dialog-focus new-folder-dialog">
        <form id="new-folder-form"action="/new" method="post">
          <input type="hidden" name="parentId" value="<%= locals.id || null %>"></input>
          <sl-input name="name" label="Name" autofocus placeholder=""></sl-input>
          </br>
          <sl-button type="submit" slot="footer" variant="primary">Create Folder</sl-button>
        </form>
      </sl-dialog>
      <sl-dialog label="New File" class="dialog-focus new-file-dialog">
        <form id="upload-form"class="upload-form" action="/upload" enctype="multipart/form-data" method="post">
          <sl-progress-bar class="upload-progress" value="0"></sl-progress-bar>
          <div class="form-group">
            <input type="file" name="uploaded_file"></input>
            <p id='file-error' class="error">File size exceeds the 50MB limit</p>
            <input type="hidden" name="parentId" value="<%= id %>"></input>
            </br>
            <sl-button type="submit" slot="footer" variant="primary">Upload</sl-button>
          </div>
        </form>
      </sl-dialog>
      <sl-dialog label="Delete Folder" class="dialog-focus delete-folder-dialog">
        Are you sure you want to delete the current folder and all of its contents?
        <form id="delete-form" action="<%=`/delete/${id}`%>" method="POST">
          <input type="hidden" name="type" value="FOLDER"></input>
          <input type="hidden" name="parentId" value="<%= parentId %>"></input>
          </br>
          <div class="btn-group">
            <sl-button slot="footer">Cancel</sl-button>
            <sl-button type="submit" slot="footer" variant="primary">Delete</sl-button>
          </div>
        </form>
      </sl-dialog>
      <sl-dialog label="Share Folder" class="dialog-focus share-folder-dialog">
        Generate a public link to share the current folder and its contents
        <form id="share-folder-form">
          </br>
          <sl-radio-group label="Duration" name="a" value="72" help-text="Links will expire after the specified duration">
            <sl-radio-button value="1">1 hour</sl-radio-button>
            <sl-radio-button value="4">4 hours</sl-radio-button>
            <sl-radio-button value="24">1 day</sl-radio-button>
            <sl-radio-button value="72">3 days</sl-radio-button>
            <sl-radio-button value="168">1 week</sl-radio-button>
          </sl-radio-group>
          <div class="share-link-container"></div>
          <div class="btn-group">
            <!-- Optional Cancel Buttons <sl-button slot="footer">Cancel</sl-button> -->
            <sl-button id="generate-folder-link-btn" slot="footer" variant="primary" data-id="<%= id %>">Generate Link</sl-button>
          </div>
        </form>
      </sl-dialog>
      <sl-dialog label="Share Public Link" class="dialog-focus share-dialog">
        Generate a public link to share the selected file
        <form id="share-file-form">
          </br>
          <sl-radio-group label="Duration" name="a" value="72" help-text="Links will expire after the specified duration">
            <sl-radio-button value="1">1 hour</sl-radio-button>
            <sl-radio-button value="4">4 hours</sl-radio-button>
            <sl-radio-button value="24">1 day</sl-radio-button>
            <sl-radio-button value="72">3 days</sl-radio-button>
            <sl-radio-button value="168">1 week</sl-radio-button>
          </sl-radio-group>
          <div class="share-link-container"></div>
          <div class="btn-group">
            <sl-button slot="footer">Cancel</sl-button>
            <sl-button id="generate-link-btn" slot="footer" variant="primary">Generate Link</sl-button>
          </div>
        </form>
      </sl-dialog>
    <% } else { %>
      <!-- Handle case when there is no currentUser -->
    <% } %>
  </main>
</div>
<div class="mobile-footer">
  <sl-icon-button name="folder-plus" class="new-folder-btn" label="New Folder"></sl-icon-button>
  <sl-icon-button name="file-earmark-plus" class="new-file-btn" label="Upload File"></sl-icon-button>
  <% if (locals.id) { %>
    <sl-icon-button name="trash" class="delete-folder-btn" label="Delete Folder"></sl-icon-button>
    <% } else { %>
      <sl-icon-button name="box-arrow-right" href="/logout" label="Logout"></sl-icon-button>  
  <% } %>
</div>

<script type="module" src="/scripts/dashboard.js"></script>

<%- include('partials/footer') -%>
