<%- include('header') -%>
<div class="layout">
  <aside class="layout-sidebar">
    <nav>
      <ul>
        <% if (!locals.type || locals.type === 'FOLDER') { %>
        <li>
          <sl-dialog label="New Folder" class="dialog-focus new-folder-dialog">
            <form action="/new" method="post">
              <input type="hidden" name="parentId" value="<%= locals.id || null %>"></input>
              <sl-input name="name" label="Name" autofocus placeholder=""></sl-input>
              </br>
              <sl-button type="submit" slot="footer" variant="primary">Create Folder</sl-button>
            </form>
          </sl-dialog>
          <sl-button class="card-btn">
            <sl-icon class="card-icon"name="folder-plus"></sl-icon><span>New Folder</span>
          </sl-button>
        </li>
        <li>
          <sl-dialog label="New File" class="dialog-focus new-file-dialog">
            <form action="/upload" enctype="multipart/form-data" method="post">
              <div class="form-group">
                <input type="file" name="uploaded_file"></input>
                <input type="hidden" name="path" value="<%= locals?.path %>"></input>
                </br>
                <sl-button type="submit" slot="footer" variant="primary">Upload</sl-button>
              </div>
            </form>
          </sl-dialog>
          <sl-button class="card-btn">
            <sl-icon class="card-icon"name="file-earmark-plus"></sl-icon><span>New File</span>
          </sl-button>
        </li>
          <% } %>
      </ul>
    </nav>
    </br>
    <sl-tree>
      <sl-tree-item expanded <%= locals.id === null && "selected" %>><a href="/"><%= currentUser.username %></a>
        <% function renderTree(items) { %>
          <% items.forEach(item => { %>
            <sl-tree-item 
            <%= item.id === locals.id && "selected" %> 
            <%= locals.pathSegments && locals.pathSegments.includes(item.name) && "expanded" %>
            >
            <a href="/<%= item.id %>"><%= item.name %></a>
              <% if (item.childEntities && item.childEntities.length > 0) { %>
                <%= renderTree(item.childEntities) %>
              <% } %>
            </sl-tree-item>
          <% }); %>
        <% } %>
      
        <%= renderTree(locals.folders) %>
      </sl-tree-item>
    </sl-tree>
  </aside>
  <main class="layout-main">
    <% if (locals.currentUser) { %>
      <% console.dir(locals.pathSegments) %>
      <!-- <h2 class="title">Welcome back <%= currentUser.username %></h2> -->
       <div class="breadcrumb-container">
        <sl-breadcrumb>
          <sl-breadcrumb-item href="/"><%= `${currentUser.username}` %></sl-breadcrumb-item>
          <% if (locals?.pathSegments?.length > 0) { 
            %>
            
            <% 
            locals.pathSegments.forEach((segment) => {  %>
              <sl-breadcrumb-item href="<%= segment.id %>"><%= segment.name %></sl-breadcrumb-item>
          <% }) %>
          <% } %>
        </sl-breadcrumb>
      </div>
        <br />
        <div class='grid-container'>
          <div class="grid-row grid-header">
            <div class="grid-col">Name</div>
            <div class="grid-col">Size</div>
            <div class="grid-col">Created</div>
          </div>
        <% for (var i = 0; i < files.length; i++) { 
          const icon = files[i].type === 'FILE' ? 'file-earmark' : 'folder'%>
          <button onclick="window.location.href='/<%= files[i].id %>'" class="btn grid-row">
              <div class="grid-col col-name">
                <sl-icon class="col-name-icon" name="<%= icon %>"></sl-icon>
                <small><%= files[i].name %></small>
              </div>
              <small class="grid-col"><%= files[i].size || "--"%></small>
              <small class="grid-col"><%= locals.helpers.formatDate(files[i].createdAt) %></small>
          </button>
        <% } %>
          </div>
        </div>
      </div>
    <% } else { %>

    <% } %>
  </main>
</div>
<script>
  const dialogs = document.querySelectorAll('.dialog-focus');
  for (const dialog of dialogs) {
    const openButton = dialog.nextElementSibling;
    const closeButton = dialog.querySelector('sl-button[slot="footer"]');

    openButton.addEventListener('click', () => dialog.show());
    closeButton.addEventListener('click', () => dialog.hide());
  }
</script>
<%- include('footer') -%>