<%- include('partials/header') %>
<main class="layout-error">
  <h1><%= error.status || 500 %></h1>
  <h2><%= error.message || 'Something went wrong'%></h2>
  <pre><%= error.stack %></pre>
  </br>
  <sl-button href="/">Go back</sl-button>
</main>
<%- include('partials/footer') %>
