<aside class="layout-sidebar">
  <nav>
    <ul>
      <li>
        <sl-button class="card-btn new-folder-btn">
          <sl-icon class="card-icon" name="folder-plus"></sl-icon><span>New Folder</span>
        </sl-button>
      </li>
      <li>
        <sl-button class="card-btn new-file-btn">
          <sl-icon class="card-icon" name="file-earmark-plus"></sl-icon><span>New File</span>
        </sl-button>
      </li>
      <li>
        <sl-button class="card-btn share-folder-btn">
          <sl-icon class="card-icon" name="share"></sl-icon><span>Share Folder</span>
        </sl-button>
      </li>
      <% if (locals.id) { %> 
        <li>
          <sl-button class="card-btn delete-folder-btn">
            <sl-icon class="card-icon" name="trash"></sl-icon><span>Delete Folder</span>
          </sl-button>
        </li>
      <% } %>
    </ul>
  </nav>
  </br>
  <sl-tree>
    <sl-tree-item expanded <%= locals.id === null && "selected" %>><a href="/"><%= currentUser.username %></a>
      <% function renderTree(items) { %>
        <% items.forEach(item => { %>
          <sl-tree-item
            data-id="<%= item.id %>"
            <%= item.id === locals.id && "selected" %> 
            <%= locals.pathSegments && pathSegments.some(segment => segment.name === item.name) && "expanded" %>
          >
            <a href="/<%= item.id %>"><%= item.name %></a>
            <% if (item.childEntities && item.childEntities.length > 0) { %>
              <%= renderTree(item.childEntities) %>
            <% } %>
          </sl-tree-item>
        <% }); %>
      <% } %>
      <%= renderTree(locals.folders) %>
    </sl-tree-item>
  </sl-tree>
</aside>